<div class="form-wraper">
  <div class="form-container card">
    <div class="form-header">
      <img src="./../../assets/car-key.svg"  class="main-lock-icon" alt="">
    </div>

    <div class="form-body">
      <mat-form-field class="justifier">
          <input matInput placeholder="Email" text="email" class="form-input">
      </mat-form-field>
      <mat-form-field class="justifier">
          <input matInput placeholder="Password" text="password" class="form-input">
      </mat-form-field>
    </div>

    <div class="form-footer">
        <button mat-raised-button class="btn custom-btn">
            <mat-icon>input</mat-icon> Login
        </button>
    </div>
    <div class="additional-link">
      <a routerLink="/signup">No Account? <strong>Create one here</strong></a>
    </div>
  </div>
</div>
