#cable-stayed,
#self-supporting {
    min-width: 90px;
    padding: 0;
    margin: 0;
}

.Programado {
    fill: white;
    color: black;
}

.Locacao {
    fill: steelblue;
    color: #000;
}

.Escavacao {
    fill: sienna;
    color: #000;
}

.Concreto {
    fill: slategrey;
    color: #000;
}

.Ancoragem {
    fill: lightsalmon;
    color: #000;
}